body {
    margin: 0;
    background-color: #F7ECDE;

}

::selection {
    background-color: #FEC260;
}

.header-subj {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
    border-bottom: dotted black 2px;
    position: relative;
}

.header-subj:after {
    content: '';
    position: absolute;
    width: 270px;
    height: 20px;
    background-color: #FEC260;
    transform: translateX(-100%);
    bottom: 50px;
    z-index: -10;
    transition: 0.5s;
}

.header-subj:hover:after {
    content: '';
    position: absolute;

    height: 40px;

}

h2 {
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    background: linear-gradient(to right, rgb(66, 141, 86), #dfd243);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control:focus {
    box-shadow: 0 0 0 4px #fec26055;
    border-color: #D99C39;
    outline: 0;
}

.form-control {
    height: 40px;
}

.form {
    border-bottom: dotted 2px black;
}

table {
    vertical-align: middle !important;
}